.container {
    width: 600px;
    background-color: rgb(40, 44, 52);
    color: white;
    border-radius: 5%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

.contributor {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.contributor img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}