.heatmap {
    border: 2px solid orange;
    width: 750px;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 8%;
    border: 1px solid blue;
    grid-row: 1 / 2;
}

.day {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin: 1px;
    flex: 1;
}

.active {
    background-color: green;
}

.inactive {
    background-color: white;
}